@media screen and (min-width: 1440px) {
    .container {
        .card {
            .description {
                margin-top: 1.8rem;
                font-size: 1.81rem;
                line-height: 180%;
            }
            .price-block {
                margin-top: 2.5em;
            }
            .line {
                margin-top: 2.5rem;
            }
            .avatar {
                margin-top: 1.5rem;
            }
        }
    }
}